@charset "utf-8";
/* CSS Document */
  
 /*sahil_verma css start*/
  
  * {
	 margin: 0;
  overflow:hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;  
}

body {
  background:#000;
}

canvas {
  /*background:url(img/sachin.png) no-repeat center center;*/
  width:100%;
  height:700px;
  margin:0 auto;
  display:block;
  cursor:url(../img/cursor.png);
}

#info {
  position:absolute;
  left:-1px;
  top:-1px;
  width:auto;
  max-width:380px;
  height:auto;
  background:#f2f2f2;
  border-bottom-right-radius:10px;
}

#top {
  background:#fff;
  width:100%;
  height:auto;
  position:relative;
  border-bottom:1px solid #eee;
}

p {
  font-family:Arial, sans-serif;
  color:#666;
  text-align:justify;
  font-size: 16px;
  margin:10px;
}

a {
  font-family:sans-serif;
  color:#444;
  text-decoration:none;
  font-size: 20px;
}

#site {
  float:left;
  margin: 10px;
  color: #38a;
  border-bottom:1px dashed #888;
}

#site:hover {
  color: #7af;
}

#close {
  float:right;
  margin: 10px;
}

#p {
  font-family: Verdana, sans-serif;
  position:absolute;
  right:10px;
  bottom:10px;
  color:#adf;
  border: 1px dashed #555;
  padding:4px 8px;
}
.bg_img
{
	float:left;
	width:auto;
	height:auto;
}
.bg_green
{
	background:url(../img/green.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 230px;
    float: left;
    height: 100%;
    opacity: 0.5;
    position: relative;
    width: 100%;
    z-index: -999;
}


.balss
{
	float: left;
	width: 120px;
	position: absolute;
	right: 4%;
	top: 78%;
	z-index:1;
}
.stumps
{
	float: left;
	width: auto;
	position: absolute;
	left: 28%;
	top: 55%;
	z-index:-9;
}

div.ball {
	width:52px;
	height:52px;
	float:left;
	background:url(images/ball_fb.png) no-repeat;
	-moz-transition:all 2s ease;
	-webkit-transition:all 2s ease;
	-o-transition:all 2s ease;
	-ms-transition:all 2s ease;
	transition:all 2s ease;
	position:relative;
	z-index:2;
}

div.ball:hover {
	-moz-transform:rotate(720deg);
	-webkit-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	-ms-transform:rotate(720deg);
	transform:rotate(720deg);
}
.ball_outr
{
	float:left;
	width:52px;
	position:relative;
}
.ball_outr p
{
	position: absolute;
	bottom: -11px;
	z-index: -1;
	left: -9px;
}


.slideshow
{
    position: absolute;
	top: 0;
	width: 800px;
	height: 700px;
	left: 25%;
	z-index: -99;
}
.slideshow img
{
    position: absolute;
    width:800px;
    height: 700px;
    z-index:-1;
}
.tear
{
	float: left;
	width: 200px;
	height: 150px;
	position: absolute;
	right: 8px;
	z-index: 999;
	bottom: 152px;
}
/*sahil_verma css end*/